@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');
:root{
    --gradiant: linear-gradient(
        45deg,
        #845ec2,
        #d65db1,
        #ff6f91,
        #ff9671,
        #ffc75f,
        #f9f871
    ); 
}
body,html{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: 'Lato', sans-serif;
    background-image: var(--gradiant);
    background-size: 300%;
    animation: gradiant 12s infinite alternate;
    width: 100%;
}
a{
    text-decoration: none;
}
.section{
    font-size: 20px; 
    padding: 10px 30px;
    background-color: #f5781b;
    border-radius: 5px;
    color: #333;
}
a[data-tool-tip]{
    position: relative;
    white-space: nowrap;
}
a[data-tool-tip]:hover::after{
    content: attr(data-tool-tip);
    display: block;
    position: absolute;
    bottom: -25px;
    left: 15px;
    font-size: .7em; 
    background-color: rgba(0, 0, 0, .7); 
    padding: 1px 3px;
    color: wheat;
    animation: fadeIn .2s ease-in;

}
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes gradiant {
    0%{background-position: left;}
    100%{background-position: right;}
}
